.card {
  transition: $globalTransition;
  cursor: pointer;
  transition: 0.4s ease-out;
  position: relative;
  width: min(90%, 500px);
  .card-expanded-text {
    position: absolute;
    transition: $globalTransition;
    opacity: 0;
    background: transparent;
    z-index: 11;
    inset: 0;
    transition: $globalTransition;
    & > * {
      width: 90%;
      margin: 0 auto;
      .glass-inner {
        padding: 0.2em 0.5em;
      }
    }
  }
  .card-overlay {
    position: absolute;
    border-radius: $borderRadius;
    inset: 0;
    z-index: 10;
    transition: $globalTransition;
    @extend .glass-basic-background-clear;
  }
  margin: 1em auto;
  @include desktop() {
    margin: 0.5em;
  }
  &:hover,
  &:focus {
    z-index: 12;
    .card-expanded-text {
      opacity: 1;
    }
    .card-overlay {
      @extend .glass-basic-background;
    }
  }
}
