.card {
  transition: $globalTransition;
  cursor: pointer;
  transition: 0.4s ease-out;
  position: relative;

  .card-expanded-text {
    position: absolute;
    transition: $globalTransition;
    opacity: 0;
    background: transparent;
    z-index: 11;
    inset: 0;
    transition: $globalTransition;
    transform: translateY(-20px);
    padding: 1em 2em;
    top: 10%;
    & > * {
      width: 100%;
      .glass-path {
        width: 49%;
      }
    }
  }
  .card-overlay {
    position: absolute;

    inset: 0;
    z-index: 10;
    transition: $globalTransition;
    @extend .glass-basic-background-clear;
  }
  margin: 1em auto;
  @include desktop() {
    margin: 0.5em;
  }
  &:hover,
  &:focus {
    z-index: 12;
    @include desktop() {
      margin-top: (-20px);
    }
    .card-expanded-text {
      opacity: 1;
      transform: translateY(0px);
    }
    .card-overlay {
      @extend .glass-basic-background;
    }
  }
}

@keyframes card-show-text {
  to {
    background: $linearGradientTransparent;
    opacity: 1;
    transform: translateY(0px);
  }
}
