.footer-container {
  position: relative;
}

.footer-link {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 1em auto;

  transition: 0.5s;
  svg {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.25s;
    font-size: 1.6rem;
  }
  .social-link {
    opacity: 0;
    position: absolute;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    scale: 0 0;
    transition: 0.5s;
    transition-delay: 0s;
    @include linkHover;
  }
  &:hover {
    width: 180px;
    svg {
      scale: 0 0;
      opacity: 0;
      color: #fff;
      transition-delay: 0s;
    }
    .social-link {
      opacity: 1;
      scale: 1 1;
      transition-delay: 0.25s;
    }
  }
}
