@import "../keyframes/gradientHeroKeyFrames";

.gradient-hero-parallax {
  background-color: $deepestBlue;
  position: relative;
  min-height: 100vh;
  animation: gradient-hero-parallax linear forwards;
  animation-timeline: scroll(root);
  animation-duration: 1;
  animation-range-start: 2px;
  animation-range-end: 1000px;
  // overflow: hidden;
  // mask: $linearGradientTransparent;
}
.gradient-hero-wave {
  bottom: 20%;
  position: absolute;
  background-color: $teal;
}
.gradient-hero-wave:before,
.gradient-hero-wave:after {
  height: 40%;
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation: 30s rotate infinite linear;
  filter: blur(10px);
}

.gradient-hero-wave:before {
  border-radius: 45%;
  background-color: $violet;
}

.gradient-hero-wave:after {
  opacity: 0.5;
  border-radius: 47%;
  animation-delay: 2s;
  background-color: $cyan;
}
.gradient-hero-inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mask: $linearGradientTransparent;
}
.gradient-hero {
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  z-index: 7;
  @include desktop() {
    width: 80vw;
    height: 80vh;
  }
  @include primaryRadialGradient(
    gradient-hero-liquid-morph 10s infinite forwards
  );
}

.modular-hero-container {
  width: 100%;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
