@import "../keyframes/gradientBlobLavaKeyFrames";

.gradient-blob-lava-container {
  svg {
    width: 0;
    height: 0;
  }
  min-height: 100vh;
  mask: $linearGradientBlueTransparentBlue;
  position: relative;

  .modular-hero-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 40;
    p {
      font-size: 2rem;
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: 0;
      // @extend .home-heading-font;

      font-size: 4rem;

      @include desktop() {
        font-size: 10rem;
      }
    }
  }

  .gradient-blob-lava-inner {
    position: absolute;
    z-index: 10;
    inset: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    left: 20%;
    filter: url(#gooHero);
  }

  .blob {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -120px;
    background: $white;
    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: -50px;
      bottom: -50px;
      right: -50px;
      border-radius: 50%;
      background-color: $white;
      z-index: -1;
      filter: blur(50px);
    }
  }

  .blob-inner {
    @include falling-circles-map(
      (
        1: (
          left: 30%,
          delay: 1s,
        ),
        2: (
          left: 60%,
          delay: 2s,
        ),
        3: (
          left: 25%,
          delay: 3s,
        ),
        4: (
          left: 75%,
          delay: 4s,
        ),
        5: (
          left: 35%,
          delay: 5s,
        ),
        6: (
          left: 50%,
          delay: 6s,
        ),
        7: (
          left: 65%,
          delay: 7s,
        ),
        8: (
          left: 35%,
          delay: 8s,
        ),
        9: (
          left: 55%,
          delay: 9s,
        ),
        10: (
          left: 55%,
          delay: 10s,
        ),
        11: (
          left: 35%,
          delay: 11s,
        ),
        12: (
          left: 50%,
          delay: 102,
        ),
        13: (
          left: 65%,
          delay: 13s,
        ),
        14: (
          left: 40%,
          delay: 14s,
        ),
        15: (
          left: 60%,
          delay: 15s,
        ),
      )
    );
  }
}

.text-change-container {
  position: relative;
  margin: 0 0 1em;
  &:hover,
  &:focus {
    .text-change:nth-of-type(1) {
      opacity: 0;
    }
    .text-change:nth-of-type(2) {
      opacity: 1;
    }
  }

  .text-change {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 3.5rem;
    font-weight: 500;
    text-shadow: $textShadow;
    transition: $globalTransition;
    &:nth-of-type(1) {
      color: $cyan;
      opacity: 1;
    }
    &:nth-of-type(2) {
      color: $violet;
      opacity: 0;
    }
  }
  .text-no-change {
    display: block;
    @include desktop() {
      position: absolute;
      left: 320px;
    }
  }
}

@keyframes text-move-up {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(20%);
  }

  10%,
  30% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  40%,
  100% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-20%);
  }
}

@keyframes fall {
  0% {
    top: -120px;
  }
  20% {
    top: 0%;
  }
  80% {
    top: 85%;
  }
  100% {
    top: 120%;
  }
}
