@import "./../keyFrames.scss";
.loading-container {
  position: fixed;
  inset: 0;
  z-index: 10;
  opacity: 0;
  animation: fadeIn $easeInForwards;
  background-color: $deepestBlue;
  .loading-text {
    padding: 3em;
    border-radius: 50%;
    h3,
    p {
      font-weight: 900;
      font-size: 2rem;

      z-index: 1;
      opacity: 0;
      animation: fadeIn $easeInForwards;
      animation-delay: 10ms;
    }
    color: white;
    text-align: center;
  }
  .loading-spinner {
    position: absolute;
    @include loadingGradient(spin 1s ease-in infinite forwards);
    width: 400px;
    height: 400px;
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container-remove {
  opacity: 1;
  animation: fadeOut $easeInForwards;
  animation-delay: 10ms;
  background-color: $deepestBlue;
  .loading-text {
    opacity: 1;
    scale: 1 1;
    animation: fadeOutScale $easeInForwards;
    animation-delay: 10ms;
    h3,
    p {
      opacity: 1;
      animation: fadeOut $easeInForwards;
    }
  }
}
