@import "./../keyFrames.scss";
.loading-container {
  position: fixed;
  inset: 0;
  z-index: 10;
  opacity: 0;
  animation: fadeIn $easeInForwards;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $deepestBlue;
  .loading-text {
    position: relative;
    padding: 3em;
    border-radius: 50%;
    h3,
    p {
      font-weight: 900;
      font-size: 2rem;
      position: relative;
      z-index: 1;
      opacity: 0;
      animation: fadeIn $easeInForwards;
      animation-delay: 10ms;
    }
    color: white;
    text-align: center;
    @include primaryRadialGradient(
      liquidShift 5s ease-in-out infinite alternate
    );
    width: 40vw;
    height: 40vh;
    z-index: -1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container-remove {
  opacity: 1;
  animation: fadeOut $easeInForwards;
  animation-delay: 10ms;
  .loading-text {
    opacity: 1;
    scale: 1 1;
    animation: fadeOutScale $easeInForwards;
    animation-delay: 10ms;
    h3,
    p {
      opacity: 1;
      animation: fadeOut $easeInForwards;
    }
  }
}
