@import "../keyFrames.scss";
.modular-timeline-container {
  height: 600px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scroll-timeline-name: --timelineScroll;
  .timeline-inner {
    animation: timelineScroll linear;
    animation-timeline: --timelineScroll;
    animation-duration: 1s;
  }
  .timeline-circle {
    svg {
      font-size: 1.5rem;
    }
  }
  @include desktop() {
  }
  .timeline-line {
  }
}

.timeline-body-left {
  @include desktop() {
    padding-left: 1.5em;

    .timeline-circle {
    }
  }
}

.timeline-body-right {
  @include desktop() {
    padding-right: 1.5em;

    .timeline-circle {
    }
  }
}
