.modular-image-gallery-container {
  margin: 0 auto;
  .glass-wrapper {
    cursor: pointer;
    transition: $globalTransition;
    scale: 1 1;
    &:hover,
    &:focus {
      scale: 1.2 1.2;
    }
  }
  .tech-stack-image {
    margin: 0.5em auto;
    max-width: fit-content;
    @include desktop() {
      margin: 1em;
    }
    .image-container {
      width: 50px;
      height: 50px;
    }
  }
}
