.modular-image-gallery-container {
  max-width: 800px;
  margin: 0 auto;
  @extend .display-flex-wrap;

  @include desktop() {
    @include grid(8, 2, max-content);
  }
  .tech-stack-image {
    margin: 0.1em;
    @include desktop() {
      margin: 0.2em;
    }
    .image-container {
      width: 40px;
      height: 40px;
    }
  }
}
