.form {
  padding: 2em 1em;
  @include desktop() {
    padding: 2.5em;
  }
}

.form-input {
  input,
  textarea,
  .custom-select,
  label {
    font-size: 0.8em;
  }
  input,
  textarea,
  select {
    @extend .glass-basic-background;
    width: 100%;
    border-radius: $borderRadius;
    padding: 1.5em 4em;
    color: $white;
    border: solid 1px transparent;
    margin: 1em auto;
    transition: $globalTransition;
    &::placeholder,
    option {
      color: $white;
      opacity: 0.7;
      @extend .secondary-font;
    }
    &:hover,
    &:focus {
      border: solid 1px $white;
    }
  }
  select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .custom-select {
    position: relative;
    justify-content: space-between;
    opacity: 0.7;

    svg {
      position: absolute;
      right: 1.5em;
      transition: $globalTransition;
      transform: rotate(0);
      font-size: 1.2em;
    }
    // &:hover,
    // &:focus {
    //   svg {
    //     transform: rotate(-180deg);
    //   }
    // }

    p {
      opacity: 1;
      font-size: 0.8em;
      position: relative;
      @extend .glass-basic-background;
    }
  }
}
