@import "../keyframes/modularLayoutWrapperKeyFrames";
.modular-layout-wrapper {
  width: 100%;
  margin: 0 auto;

  .modular-hero-content {
    position: relative;
    z-index: 40;
  }
}
@media (prefers-reduced-motion: no-preference) {
  h1,
  h2,
  h3,
  p,
  .tech-stack-image {
    opacity: 0;
  }
  h1,
  h2,
  h3,
  p {
    transition: $easeInOut1Seconds;
    transform: translateY(-50px);
  }
  .tech-stack-image {
    transform: translateY(-250px);
  }
  .modular-layout-enter {
    .tech-stack-image {
      animation: bounce-down-enter 1s ease 0s 1 normal forwards;
    }
    h1,
    h2,
    h3,
    p {
      transition: $easeInOut1Seconds;
      opacity: 1;
      transform: translateY(0);
    }
    h2 {
      transition-delay: 0.3s;
    }
    p {
      transition-delay: 0.5s;
    }

    .modular-content-container {
      .glass-path {
        animation: scale-down-enter 1.5s ease 0s 1 normal forwards;
      }
      .card {
        animation: bounce-down-enter 1s ease 0s 1 normal forwards;
      }

      @for $i from 1 through 20 {
        .tech-stack-image:nth-child(#{$i}) {
          animation-delay: #{random(200)}ms;
        }
      }
      @for $i from 1 through 20 {
        .card:nth-child(#{$i}) {
          animation-delay: #{random(400)}ms;
        }
      }
    }
    .align-left,
    .align-right {
      .image-container {
        opacity: 0;
      }
    }
    .align-left {
      .image-container {
        animation: fade-right-enter 2s ease 0s 1 normal forwards;
      }
    }
    .align-right {
      .image-container {
        animation: fade-left-enter 2s ease 0s 1 normal forwards;
      }
    }
  }
}
