.form {
  padding: 1em 0.8em;
  text-align: left;
  @include desktop() {
    padding: 2.5em;
  }
}

.form-input {
  input,
  textarea,
  label,
  p {
    font-size: 0.8em;
  }
  input,
  textarea,
  .custom-select-inner,
  .custom-select-menu-open,
  .custom-select-menu-closed {
    @extend .glass-basic-background;
    width: 100%;
    border-radius: $borderRadius;
    padding: 1.5em 1.6em;
    color: $white;
    border: solid 1px transparent;
    margin: 1em auto;
    transition: $globalTransition;
    @include desktop() {
      padding: 1.5em 3em;
    }
    &::placeholder {
      color: $white;
      opacity: 0.7;
      @extend .secondary-font;
    }
    &:hover,
    &:focus {
      border: solid 1px $white;
    }
  }
}
.custom-select {
  .custom-select-inner {
    position: relative;
    justify-content: space-between;
    z-index: 30;
    .custom-select-value {
      opacity: 0.7 !important;
      margin: 0;
    }
  }
  svg {
    font-size: 1.2em;
    transition: $globalTransition;
  }
  .custom-select-button-open {
    svg {
      transform: rotate(0);
    }
  }
  .custom-select-button-closed {
    svg {
      transform: rotate(-180deg);
    }
  }
  .custom-select-menu-open,
  .custom-select-menu-closed {
    position: absolute;
    left: 0;
    top: 4em;
    z-index: 30;

    transition: $globalTransition;
    background-color: $deepestBlue !important;
    padding: 0 1em;
    @include desktop() {
      padding: 1.5em 1.6em;
    }
    p {
      margin: 0 auto;
      padding: 2em 0;
      border-bottom: solid 1px rgba(255, 255, 255, 0.4);
      &:last-of-type {
        border: none;
      }
    }
  }
  .custom-select-menu-open {
    max-height: 500px;
    opacity: 1;
  }
  .custom-select-menu-closed {
    max-height: 0;
    opacity: 0;
  }
}
