.form-input {
  input,
  textarea,
  select {
    width: 100%;
    border-radius: $borderRadius;
    padding: 1em 2em;
    margin: 1em auto 1.5em;
    color: $white;
    border: none;

    @extend .glass-card-dark;
    &::placeholder {
      color: $white;
    }
  }
  select {
    border-right: solid transparent 2em;
  }
}
