.glass-navigation {
  position: fixed;
  width: 100%;

  z-index: 999;
  .glass-inner {
    border-radius: 0;
  }
}

.navigation-container {
  .navigation-inner {
    .navigation-content {
      @include flexBox(column, center, space-evenly);
      @include desktop() {
        @include flexBox(row, center, space-evenly);
      }
    }
  }
  .navigation-burger {
  }
}
