@import "./keyframes/gradientHeroKeyFrames";
.gradient-hero-parallax {
  background-color: $deepestBlue;
}

.gradient-hero-container,
.gradient-animate-contract,
.gradient-animate-expand {
  position: relative;
  min-height: 100vh;

  .gradient-hero-inner {
    @include primaryRadialGradient(
      gradient-hero-liquid-morph 20s ease-in-out infinite forwards
    );
    .modular-hero-container {
      width: 100%;
    }
  }
}
.gradient-hero-container {
  animation: gradient-hero-parallax linear forwards;
  animation-timeline: scroll(root);
  animation-duration: 1;
  animation-range-start: 2px;
  animation-range-end: 1000px;
  .gradient-hero-inner {
    width: 60vw;
    height: 70vh;
  }
}
.gradient-animate-contract,
.gradient-animate-expand {
  background-color: $deepestBlue;
  inset: 0;
  .gradient-hero-inner {
    width: 45vw;
    height: 45vh;
    .gradient-hero-text {
      z-index: 20;
    }
  }
  .modular-hero-container {
    position: absolute;
    opacity: 0;
    transform: translateY(-100px);
  }
}
.gradient-animate-contract {
  z-index: 20;
  position: fixed;
}
.gradient-animate-expand {
  mask: $linearGradientTransparent;
  z-index: 20;
  position: fixed;
  animation: gradient-animate-expand-position $easeInForwards;
  .gradient-hero-inner {
    animation: gradient-animate-inner-expand $easeInForwards;
    .gradient-hero-text {
      z-index: 20;
      animation: opacity-fade-out $easeInForwards;
    }
  }
  .modular-hero-container {
    animation: gradient-animate-hero-show $easeInForwards;
    animation-delay: 1s;
  }
}
