.gradient-scroll-container {
}
.modular-hero-container {
  overflow: hidden;
  min-height: 100vh;
  filter: saturate(120%) contrast(110%);
  background-color: $deepestBlue;
}
.gradient-scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
}
.gradient-scroll-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 70vw;
  height: 70vh;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    inset: -28px;
    border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;

    box-shadow:
      inset 0 0 90px $cyan,
      inset 90px -40px 140px $blue,
      inset -90px 40px 140px $violet,
      inset 0 0 180px $deepBlue;

    filter: blur(32px) saturate(135%);
    // animation: liquidShift 5s ease-in-out infinite alternate;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 26px; // ↓ was 30px
    background: transparent;
    border-radius: 22px;
    z-index: 1;
  }
}
@keyframes liquidShift {
  0% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow:
      inset 0 0 90px $cyan,
      inset 90px -40px 140px $blue,
      inset -90px 40px 140px $violet,
      inset 0 0 180px $deepBlue;
  }

  50% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    box-shadow:
      inset -40px 60px 120px $cyan,
      inset 110px 0 160px $blue,
      inset -110px -30px 160px $violet,
      inset 0 0 200px $deepestBlue;
  }

  100% {
    border-radius: 30% 70% 40% 60% / 30% 70% 30% 70%;
    box-shadow:
      inset 60px -30px 140px $cyan,
      inset 0 90px 180px $blue,
      inset -60px -90px 180px $violet,
      inset 0 0 190px $deepBlue;
  }
}
