.modular-hero-container {
  .modular-hero-inner {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 50%;
    background-color: transparent;
  }
}

.gradient-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: $radialGradient;
  top: 0;
  left: 0;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   background: $gradient-mouse-glow;
  //   pointer-events: none;
  //   top: var(--y);
  //   left: var(--x);
  //   width: 300px; // or your desired size
  //   height: 300px;
  //   transform: translate(-50%, -50%);
  //   transition: $globalTransition;
  // }
  .gradient-inner {
    filter: blur(70px);
    width: 100%;
    height: 100%;
  }
}
.gradient-interactive {
  pointer-events: none;
  position: absolute;
  background: radial-gradient(
      circle at center,
      $highlightGlow 0%,
      $highlightGlow 50%
    )
    no-repeat;
  mix-blend-mode: $blending;
  width: 50%;
  height: 50%;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  opacity: 0.7;
}

.star-group-one {
  @include stars-content(1800, $white, 200, 7, 0, 2, 2);
}

.star-group-two {
  @include stars-content(1800, $white, 200, 10, 0, 3, 3);
}

.star-group-three {
  width: 3px;
  @include stars-content(1800, $white, 200, 3, 0, 1, 1);
}

@include gradient($name: "1", $gradientColor: $darkBlue);

@include gradient(
  $name: "2",
  $gradientColor: $lightBlue,
  $gradientTransformOrigin: (
    calc(50% - 400px),
  ),
  $gradientAnimation: (
    moveInCircle 20s reverse infinite,
  )
);

@include gradient(
  $name: "3",
  $gradientColor: $blue,
  $position: (
    calc(50% - $gradientCircleSize / 2 + 200px),
    calc(50% - $gradientCircleSize / 2 - 500px),
  ),
  $gradientTransformOrigin: (
    calc(50% + 400px),
  ),
  $gradientAnimation: (
    moveInCircle 40s linear infinite,
  )
);

@include gradient(
  $name: "4",
  $gradientColor: $highlightGlow,
  $gradientTransformOrigin: (
    calc(50% - 200px),
  ),
  $gradientAnimation: (
    moveHorizontal 40s ease infinite,
  ),
  $opacity: 0.7
);

@include gradient(
  $name: "5",
  $gradientColor: $coreGlow,

  $position: (
    calc($gradientCircleSize * 2),
    calc($gradientCircleSize * 2),
  ),
  $gradientTransformOrigin: (
    calc(50% - 800px),
    calc(50% + 200px),
  ),
  $gradientAnimation: (
    moveInCircle 20s ease infinite,
  )
);
