.star-background-container {
  // background: $radialGradient;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.star-group-one {
  @include stars-content(1800, $white, 200, 7, 0, 2, 2);
}

.star-group-two {
  @include stars-content(1800, $white, 200, 10, 0, 3, 3);
}

.star-group-three {
  width: 3px;
  @include stars-content(1800, $white, 200, 3, 0, 1, 1);
}
