:root {
  @extend .secondaryFont;
  font-size: 16px;
  h1,
  h3 {
    @extend .primaryFont;
  }
  @include desktop() {
    font-size: 18px;
  }
  a,
  button {
    cursor: pointer;
  }
}

.display-flex {
  @include flexBox();
}

.display-flex-row-desktop {
  @include desktop() {
    @include flexBox();
  }
}

.display-flex-row-reverse-desktop {
  @include desktop() {
    @include flexBox(row-reverse, center, space-between);
  }
}
.display-flex-wrap {
  @include flexBox(row, center, space-evenly, wrap);
}

.display-grid-3-columns {
  @include desktop() {
    @include customColumnGrid(49% 0% 49%);
  }
}
.column-1 {
  grid-column: 1 / 2;
}
.column-2 {
  grid-column: 2 / 3;
}
.column-3 {
  grid-column: 3 / 4;
}
.column-span {
  grid-column: 1 / 4;
}
.align-left {
  @include alignText(left);
}
.align-center {
  @include alignText(center);
}
.align-right {
  @include alignText(right);
  @include desktop() {
  }
}
.align-left-opposite-position {
  @include alignText(left, true);
}
.align-right-opposite-position {
  @include alignText(right, true);
}

.blockCenter {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.card-padding {
  padding: $cardPaddingMobile;
  @include desktop() {
    padding: $cardPaddingDesktop;
  }
}
.gradient-overlay-blue-transparent-blue {
  background: $linearGradientTransparent;

  z-index: 5;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.glass-round {
  border-radius: 50%;
  position: relative;
}
.glass-path {
  .glass-inner {
    background-color: rgba(3, 11, 20, 0.7);
  }
}
.glass-wrapper {
  overflow: hidden;
}

.glass-inner {
  position: relative;
  border-radius: $borderRadius;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 13px rgba(255, 255, 255, 0.4);
  @extend .card-padding;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: $borderRadius;
    z-index: -2;
  }
}

.glass-card,
.glass-path {
  // background: rgb(128 128 128 / 0.2);
  position: relative;
  border-radius: $borderRadius;
  .glass-glow-blob {
    filter: blur(40px);
    position: absolute;
    z-index: -3;
    top: 5%;
    left: 5%;
    right: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgb(255, 255, 255) 0.8;
  }
  .glass-glow-fake-blob {
    display: hidden;
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.modular-inner {
  width: $globalWidth;
  margin: 0 auto;
}
.small-global-width {
  width: $smallGlobalWidth;
  margin: 0 auto;
}
.map-child-margin {
  margin: $mobileMargin;
  @include desktop() {
    margin: $desktopMargin;
  }
}

.background-color-darkest-blue {
  background-color: $darkestBlue;
}
.background-color-dark-blue {
  background-color: $darkBlue;
}
.background-color-blue {
  background-color: $blue;
}

.padding-top-bottom {
  @include padding();
}
.padding-top-only {
  @include padding(true, false);
}
.padding-bottom-only {
  @include padding(false, true);
}
.padding-none {
  padding: 0;
}

.glass-path {
  cursor: pointer;
  margin-top: $mobileMargin;

  @include desktop() {
    margin-top: $desktopMargin;
  }
}
.button {
  padding: 0.5em 0;
  text-align: center;
  // @include pathMode(true);
}

.link {
  @include pathMode(false);
}

.social-link {
  svg {
    min-height: 30px;
    min-width: 30px;
    font-size: 1.4rem;
    border-radius: $borderRadius;
    color: $white;
  }
}

h1,
h2,
h3 {
  margin: 0 0 0.2em;
  line-height: $smallLineHeight;
  @include desktop() {
    line-height: $lineHeight;
  }
}
h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
h2 {
  font-size: 3rem;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
p {
  font-size: 1.2rem;
  line-height: $lineHeight;
}
