:root {
  font-size: 18px;
  @include desktop() {
    font-size: 20px;
  }
  h1,
  h2 {
    font-weight: 100;
  }
  @include desktop() {
    font-size: 20px;
  }
  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1em;
  }
  h1,
  h2,
  h3 {
    line-height: $smallLineHeight;
    @include desktop() {
      line-height: $lineHeight;
    }
  }

  h3 {
    margin: 0 0 0.5em;
  }
  h1 {
    font-size: 4.5rem;
    margin: 0.3em 0;
    @include desktop() {
      margin: 0.1em 0;
      font-size: 5.5rem;
    }
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 300;
  }
  p {
    font-size: 1.1rem;
    margin: 0 0 2em 0;
    font-weight: 200;
    line-height: $lineHeight;
  }
  a,
  button {
    cursor: pointer;
    font-weight: 200;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a,
  button {
    text-shadow: $textShadow;
  }
}
h2,
h3 {
  a {
    @extend .link;
  }
}

u {
  @extend .glass-basic-background;
  text-decoration: none;
  padding: 0.1em;
  border-radius: $borderRadius;
  text-shadow: none;
}

svg {
  width: 0;
  height: 0;
}

.image-container {
  img {
    border-radius: $borderRadius;
    max-width: 300px;
  }
}

.button {
  padding: 0.5em 0;
  text-align: center;
  font-size: 1rem;
}

.link {
  @include linkHover;
}

.expanding-link-container {
  @include expandingLink;
}

.position-relative {
  position: relative;
}
