@import "variables.scss";
@import "functions.scss";
@import "./keyFrames.scss";
//get webkit mask gradient mixin
@mixin desktop {
  @media (min-width: $desktopBreakpoint) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobileBreakpoint) {
    @content;
  }
}
@mixin largeDesktop {
  @media (min-width: $largeDesktopBreakpoint) {
    @content;
  }
}

@mixin largeMobile {
  @media (max-width: $largeMobileBreakpoint) {
    @content;
  }
}

//can include at breakpoint etc
@mixin flexBox(
  $flexDirection: "row",
  $alignItems: "center",
  $justifyContent: "space-evenly",
  $flexWrap: "nowrap"
) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @if ($flexDirection) {
    flex-direction: $flexDirection;
  }
  @if ($alignItems) {
    align-items: $alignItems;
  }
  @if ($justifyContent) {
    justify-content: $justifyContent;
  }
  @if ($flexWrap) {
    flex-wrap: $flexWrap;
  }
}

@mixin grid($templateColumns, $templateRows, $templateWidth) {
  display: grid;
  justify-content: center;
  align-items: center;
  @if ($templateColumns) {
    grid-template-columns: repeat($templateColumns, $templateWidth);
  }
  @if ($templateRows) {
    grid-template-rows: repeat($templateRows, $templateWidth);
  }
}
@mixin customColumnGrid($customColumns...) {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  @if ($customColumns) {
    grid-template-columns: $customColumns;
  }
}
@mixin column($position, $start, $end) {
  .column-#{$position} {
    grid-column-start: $start;
    grid-column-end: $end;
    @if ($position == "span") {
      width: 100%;
    } @else {
      width: 97%;
    }
  }
}
@mixin alignText($textAlign, $oppositeAlignPosition: false) {
  text-align: center;
  margin: 0 auto;

  @if ($textAlign == "left") {
    @include desktop() {
      text-align: left;
      margin: 0 auto 0 0;
      @if ($oppositeAlignPosition) {
        margin: 0 0 0 auto;
      }
    }
  } @else if ($textAlign == "right") {
    @include desktop() {
      text-align: right;
      margin: 0 0 0 auto;
      @if ($oppositeAlignPosition) {
        margin: 0 auto 0 0;
      }
    }
  }
}

@mixin padding($paddingTop: true, $paddingBottom: true) {
  padding: $mobilePadding;
  @include desktop() {
    padding: $desktopPadding;
  }
  @if ($paddingTop and $paddingBottom == false) {
    padding: $mobileTopPaddingOnly;
    @include desktop() {
      padding: $desktopTopPaddingOnly;
    }
  }
  @if ($paddingBottom and $paddingTop == false) {
    padding: $mobileBottomPaddingOnly;
    @include desktop() {
      padding: $desktopBottomPaddingOnly;
    }
  }
}

@mixin pathMode($isButton: true) {
  transition: $globalTransition;
  cursor: pointer;
  @if ($isButton) {
    border-radius: $borderRadius;
    padding: 1em 1.2em;
    width: 100%;
    display: block;
    color: $white;
    text-align: center;
    margin-top: $mobileMargin;
    @include desktop() {
      padding: 1em 1.4em;
      margin-top: $desktopMargin;
    }
  } @else {
    //neeed to sort this animation
    display: inline;
    border-bottom: $borderBase $white;
    &:hover,
    &:focus {
    }
  }
}

//stars
@mixin stars-content(
  $screen-width,
  $color,
  $density,
  $speed,
  $delay,
  $width,
  $height
) {
  width: $width;
  height: $height;
  border-radius: 50%;
  opacity: 1;
  box-shadow: generate-random-stars($screen-width, $color, $density);
  // animation: glowing-stars $speed + s linear infinite alternate;
  // animation-delay: $delay + s;
}

@mixin gradient(
  $name,
  $gradientColor,
  $size: ($gradientCircleSize, $gradientCircleSize),
  $position: (
    calc(50% - $gradientCircleSize / 2),
    calc(50% - $gradientCircleSize / 2)
  ),
  $gradientTransformOrigin: center center,
  $gradientAnimation: moveVertical 30s ease infinite,
  $opacity: 1
) {
  .gradient-#{$name} {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba($gradientColor, 0.4) 0,
        rgba($gradientColor, 0) 50%
      )
      no-repeat;
    top: nth($position, 1);
    left: nth($position, 2);
    width: nth($size, 1);
    height: nth($size, 2);
    mix-blend-mode: $blending;
    transform-origin: $gradientTransformOrigin;
    animation: $gradientAnimation;
    opacity: $opacity;
  }
}

@mixin fadeInAnimation($fadeIn: true, $fadeUp: false) {
  @if ($fadeIn == false and $fadeUp == true) {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOutAndUp $easeInForwards;
  } @else if ($fadeIn == false and $fadeUp == false) {
    opacity: 1;
    animation: fadeOut $easeInForwards;
  } @else if($fadeIn == true and $fadeUp == true) {
    opacity: 0;
    animation: fadeInAndDown $easeInForwards;
  } @else {
    opacity: 0;
    animation: fadeIn $easeInForwards;
  }
}

@mixin linkHover {
  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    height: 2px;
    border-radius: $borderRadius;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0 0;
    opacity: 0;
    transition: all 300ms;
  }
  &:hover,
  &:focus {
    &::after {
      scale: 1 1;
      opacity: 1;
    }
  }
}

@mixin primaryRadialGradient($animation) {
  position: relative;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    inset: 26px;
    background: transparent;
    border-radius: 22px;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    inset: -28px;
    border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
    box-shadow:
      inset 0 0 90px $cyan,
      inset 90px -40px 140px $blue,
      inset -90px 40px 140px $violet,
      inset 0 0 180px $deepBlue;

    filter: blur(32px) saturate(135%);
    animation: $animation;
  }
}
