@import "variables.scss";
@import "keyFrames.scss";
@import "functions.scss";

@mixin desktop {
  @media (min-width: $desktopBreakpoint) {
    @content;
  }
}

//can include at breakpoint etc

@mixin flexBox(
  $flexDirection: null,
  $alignItems: null,
  $justifyContent: null,
  $flexWrap: null
) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @if ($flexDirection) {
    flex-direction: $flexDirection;
  }
  @if ($alignItems) {
    align-items: $alignItems;
  }
  @if ($justifyContent) {
    justify-content: $justifyContent;
  }
  @if ($flexWrap) {
    flex-wrap: $flexWrap;
  }
}

@mixin grid($templateColumns, $templateRows, $templateWidth) {
  display: grid;
  justify-content: center;
  align-items: center;
  @if ($templateColumns) {
    grid-template-columns: repeat($templateColumns, $templateWidth);
  }
  @if ($templateRows) {
    grid-template-rows: repeat($templateRows, $templateWidth);
  }
}
@mixin customColumnGrid($customColumns...) {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  @if ($customColumns) {
    grid-template-columns: $customColumns;
  }
}

@mixin alignText($textAlign, $oppositeAlignPosition: false) {
  text-align: center;
  margin: 0 auto;
  @if ($textAlign == "left") {
    @include desktop() {
      text-align: left;
      margin: 0 auto 0 0;
      @if ($oppositeAlignPosition) {
        margin: 0 0 0 auto;
      }
    }
  } @else if ($textAlign == "right") {
    @include desktop() {
      text-align: right;
      margin: 0 0 0 auto;
      @if ($oppositeAlignPosition) {
        margin: 0 auto 0 0;
      }
    }
  }
}

@mixin padding($paddingTop: true, $paddingBottom: true) {
  padding: $mobilePadding;
  @include desktop() {
    padding: $desktopPadding;
  }
  @if ($paddingTop and $paddingBottom == false) {
    padding: $mobileTopPaddingOnly;
    @include desktop() {
      padding: $desktopTopPaddingOnly;
    }
  }
  @if ($paddingBottom and $paddingTop == false) {
    padding: $mobileBottomPaddingOnly;
    @include desktop() {
      padding: $desktopBottomPaddingOnly;
    }
  }
}

@mixin pathMode($isButton, $isDark) {
  transition: $globalTransition;
  cursor: pointer;
  @if ($isButton) {
    border-radius: $borderRadius;
    padding: 1em 1.2em;
    width: 100%;
    display: block;
    @include desktop() {
      padding: 1em 1.4em;
      width: fit-content;
    }
    @if ($isDark) {
      background-color: $black;
      color: $white;
      &:hover,
      &:focus {
        background-color: $blue;
      }
    } @else {
      background-color: $white;
      color: $darkestBlue;
      &:hover,
      &:focus {
        background-color: $darkestBlue;
        color: $white;
      }
    }
  }

  @if ($isButton == false) {
    display: inline;
    @if ($isDark) {
      color: $black;
      border-bottom: solid 2px $black;
      &:hover,
      &:focus {
        color: $darkBlue;
        border-bottom: solid 2px $darkBlue;
      }
    } @else {
      color: $white;
      border-bottom: solid 2px $white;
      &:hover,
      &:focus {
        color: $lightBlue;
        border-bottom: solid 2px $lightBlue;
      }
    }
  }
}

//stars
@mixin stars-content(
  $screen-width,
  $color,
  $density,
  $speed,
  $delay,
  $width,
  $height
) {
  width: $width;
  height: $height;
  border-radius: 50%;
  opacity: 0.3;
  box-shadow: generate-random-stars($screen-width, $color, $density);
  animation: glowing-stars $speed + s linear infinite alternate;
  animation-delay: $delay + s;
}
