//backgrounds
//colors

$white: #fff;
$black: #010204;
$cyan: rgb(77, 251, 255);
$aqua: rgb(46, 230, 230);
$teal: rgb(31, 182, 255);
$blue: rgb(58, 123, 255);
$deepBlue: rgb(26, 61, 111);
$deepestBlue: rgb(11, 28, 45);
$violet: rgb(106, 76, 255);
$purple: rgb(139, 92, 246);

$glassBackground: rgba(58, 123, 255, 0.3);

$blending: hard-light;

$radialGradient: radial-gradient(
  ellipse at center,
  $blue 0%,
  $deepBlue 35%,
  $deepestBlue 100%
);

$gradientCircleSize: 80%;

$gradient-mouse-glow: radial-gradient(
  600px circle at center,
  $teal 0%,
  $deepBlue 50%,
  transparent 100%
);
$radialTransparentGradient: radial-gradient(
  circle at center,
  transparent 0%,
  transparent 10%,
  $deepestBlue 70%
);
$linearGradientTransparent: linear-gradient(
  0deg,
  transparent 0%,
  transparent 5%,
  $deepBlue 15%,
  $deepestBlue 20%,
  $deepestBlue 100%
);
//spacing
$globalWidth: min(90%, 1000px);
$smallGlobalWidth: min(100%, 800px);
$globalTransition: all 250ms ease-in-out;
$mobilePadding: 4em 0;
$desktopPadding: 8em 0;

$mobileTopPaddingOnly: 4em 0 0 0;
$desktopTopPaddingOnly: 8em 0 0 0;

$mobileBottomPaddingOnly: 0 0 4em 0;
$desktopBottomPaddingOnly: 0 0 8em 0;

$mobileMargin: 0.1em;
$desktopMargin: 0.2em;

$borderRadius: 10px;
$borderBase: 2px solid;
$cardPaddingMobile: 0.6em;
$cardPaddingDesktop: 0.8em;

//breakpoints

$desktopBreakpoint: 758px;
$mobileBreakpoint: 757px;
$largeDesktopBreakpoint: 1200x;
$largeMobileBreakpoint: 1199px;
//glass

//glow
$shadowPixels: 0px 0px 106px 41px;
$darkShadow: $shadowPixels $deepBlue;
$mediumShadow: $shadowPixels $blue;
$lightShadow: $shadowPixels $white;

// text
$smallLineHeight: 1em;
$lineHeight: 1.5em;

//animation

$easeInForwards: 350ms ease-in forwards;
$easeInOutLonger: 500ms ease-in-out forwards;
$easeInOut2Seconds: 2s ease-in-out forwards;
$easeInOut1Seconds: 1s ease-in-out forwards;
