//backgrounds
//colors
$darkestBlue: #000108;
$darkBlue: #001439;
$lightBlue: #01378c;
$blue: #01204ffa;
$white: #fdfdfd;
$black: #010204;

$primaryGradient: linear-gradient(
  90deg,
  #000108 23%,
  #001439 54%,
  #01204ffa 74%,
  #01378c 100%
);
$radialGradient: radial-gradient(
  ellipse at bottom,
  #000108 15%,
  #001439 64%,
  #01204ffa 86%,
  #01378c 100%
);

//spacing
$globalWidth: min(90%, 1000px);
$globalTransition: all 250ms ease-in-out;
$mobilePadding: 3em 0;
$desktopPadding: 6em 0;

$mobileTopPaddingOnly: 3em 0 0 0;
$desktopTopPaddingOnly: 6em 0 0 0;

$mobileBottomPaddingOnly: 0 0 3em 0;
$desktopBottomPaddingOnly: 0 0 6em 0;

$borderRadius: 15px;
$cardPaddingMobile: 0.6em;
$cardPaddingDesktop: 0.8em;

//breakpoints

$desktopBreakpoint: 758px;

//glass

//glow
$shadowPixels: 0px 0px 106px 41px;
$darkShadow: $shadowPixels $darkBlue;
$mediumShadow: $shadowPixels $blue;
$lightShadow: $shadowPixels $white;

// text
$smallLineHeight: 1em;
$lineHeight: 1.5em;
