@keyframes gradient-hero-parallax {
}
@keyframes gradient-animate-expand-position {
  0% {
    z-index: 7;
    position: relative;
  }
  100% {
    z-index: 7;
    position: relative;
  }
}

@keyframes gradient-animate-hero-show {
  to {
    scale: 1 1;
    opacity: 1;
  }
}
@keyframes gradient-animate-inner-expand {
  to {
    width: 90vw;
    height: 90vh;
  }
}

@keyframes gradient-hero-liquid-morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow:
      inset 0px 0px 90px $cyan,
      inset 90px -40px 140px $blue,
      inset -90px 40px 140px $violet,
      inset 0px 0px 180px $deepBlue;
    transform: rotate(20deg) scale(1);
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    box-shadow:
      inset 40px 20px 110px $cyan,
      inset 110px -10px 155px $blue,
      inset -110px 10px 155px $violet,
      inset 0px 0px 200px $deepestBlue;
    transform: rotate(-10deg) scale(1.1);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow:
      inset 60px -30px 140px $cyan,
      inset 80px 40px 175px $blue,
      inset -80px -40px 175px $violet,
      inset 0px 0px 190px $deepBlue;
    transform: rotate(20deg) scale(1);
  }
}
